/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.layout {
  width: 100%;
  height: 100%;
}


.column1 {
  background-color: aliceblue
}

.column2 {
  background-color: darkkhaki
}

.column3 {
  background-color: whitesmoke
}
